# Prisma DB connection
DATABASE_URL="postgresql://example:example@localhost:5432/nestjs?schema=public"
JWT_SECRET="secretexample"
JWT_EXPIRATION_TIME=example_number
FRONTEND_URL="http://example:example"

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=twoj_user_z_mailtrap
SMTP_PASSWORD=twoje_haslo_z_mailtrap
SMTP_FROM=FoodReady <no-reply@foodready.app>