version: "3"
services:
  postgres:
    container_name: postgres-food-ready
    image: postgres:18.0
    ports:
      - "5432:5432"
    networks:
      - postgres
    volumes:
      - /data/postgres:/data/postgres
    env_file:
      - docker.env

  pgadmin:
    container_name: pgadmin-food-ready
    image: dpage/pgadmin4:9.10
    networks:
      - postgres
    ports:
      - "8080:80"
    volumes:
      - /data/pgadmin:/root/.pgadmin
    env_file:
      - docker.env

networks:
  postgres:
    driver: bridge